
<header> 
    <nav class="header-container ">
        <nav class="navbar navbar-top"></nav>

        <nav class="navbar navbar-expand-lg navbar-light navbar-main">
            <a class="navbar-brand d-flex align-items-center">
                <img src="/PNG/logo.png" alt="Logo" class="logo-img">
                <span class="highlight">TIỆM SỮA 4CE</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/pages/index.html">Trang Chủ</a></li>
                    
                    <li class="nav-item"><a class="nav-link" href="/pages/contact.html">Liên Hệ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pages/gioithieu.html">Giới Thiệu</a></li>
                </ul>
                <form class="form-inline mx-auto search-bar" id="searchForm" action="/pages/timkiem.html" method="GET">
                    <div class="search-container">
                        <input class="form-control" id="searchInput" name="q" type="search" placeholder="Ba mẹ tìm kiếm gì cho con hôm nay" aria-label="Search">
                        <button type="submit" class="search-icon">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                
                
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/pages/taikhoan.html" id="accountLink">
                            <i class="fas fa-user"></i> Tài khoản
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/pages/giohang.html">
                            <i class="fas fa-shopping-cart"></i> Giỏ hàng
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <nav class="navbar navbar-expand-lg bg-warning">
            <div class="container d-flex justify-content-between">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/sanpham/product.html" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars "></i> Danh mục</a>
                    <div class="dropdown-menu" aria-labelledby="productDropdown">
                        <a class="dropdown-item" href="/sanpham/product.html">Tất cả sản phẩm</a>
                        <a class="dropdown-item" href="/sanpham/suabot.html">Sữa bột</a>
                        <a class="dropdown-item" href="/sanpham/suatuoi.html">Sữa tươi</a>
                        <a class="dropdown-item" href="/sanpham/suanuoc.html">Sữa nước</a>
                    </div>
                </div>
                
                <a href="#" class="nav-link"><i class="fas fa-store"></i> Zalo cửa hàng</a>
                
                <a href="#" class="nav-link"><i class="fas fa-phone"></i> Hotline: 1800.3979</a>
            </div>
        </nav>
    </nav>
</header>   
