<section class="container my-5">
    <h2 class="font-weight-bold" style=" color: hwb(230 6% 33%)">Chính sách bảo hành</h2>

    <p><strong>Chính sách Bảo hành sản phẩm bán tại hệ thống cửa hàng Tiệm Sữa 4CE</strong></p>

    <p>
        Để đem lại giá trị trải nghiệm tốt nhất cho khách hàng khi mua sắm toàn bộ sản phẩm tại Tiệm Sữa 4CE và đặc biệt chính sách bảo hành nổi trội của nhóm sản phẩm đặc thù,
        Tiệm Sữa 4CE xin thông báo chính sách bảo hành:
    </p>

    <h5 class="font-weight-bold mt-4">1. Sản phẩm áp dụng</h5>
    <ul>
        <li>Toàn bộ các sản phẩm điện tử, máy móc được bán hoặc phân phối bởi Tiệm Sữa 4CE</li>
        <li>Các sản phẩm nhãn hàng riêng như: máy hút sữa, xe đẩy… (theo danh mục đính kèm)</li>
    </ul>

    <h5 class="font-weight-bold mt-4">2. Những trường hợp được áp dụng bảo hành</h5>
    <ul>
        <li>Sản phẩm có sự cố kỹ thuật trong điều kiện sử dụng bình thường theo quy định của sản phẩm.</li>
        <li>Sản phẩm còn trong thời gian bảo hành (dựa trên ngày mua hàng trên hóa đơn hoặc trên phiếu bảo hành).</li>
        <li>Có tem bảo hành (các loại tem nhận biết như: dán niêm phong, tem điện tử...)</li>
        <li>Số Serial Number (SN)/IMEI (nếu có) trên sản phẩm còn nguyên vẹn, không bị tẩy xóa, chỉnh sửa, bóc hoặc dán đè.</li>
        <li>Đầy đủ hóa đơn mua hàng tại Tiệm Sữa 4CE hoặc thông tin xác thực tương đương (số điện thoại mua hàng, phiếu bảo hành,...)</li>
    </ul>

    <h5 class="font-weight-bold">3. Những trường hợp từ chối bảo hành</h5>
    <ul>
        <li>Sản phẩm đã quá thời hạn bảo hành ghi trên phiếu Bảo hành hoặc mất Phiếu Bảo hành</li>
        <li>Những sản phẩm không thể xác định được nguồn gốc mua tại Tiệm Sữa 4CE: Mất hóa đơn mua hàng, tem niêm phong bị rách, vỡ, hoặc bị sửa đổi.</li>
        <li>Sản phẩm sử dụng sai quy cách hoặc hướng dẫn dẫn đến tình trạng cháy, chập điện.</li>
        <li>Sản phẩm bị hư hỏng do sự cố bất khả kháng: Thiên tai, va chạm rơi vỡ, chập điện, ẩm ướt, nguồn điện không ổn định.</li>
        <li>Sản phẩm bị hư hỏng do lỗi của người sử dụng, vận chuyển, bảo quản sai quy cách.</li>
        <li>Máy bị rỉ sét, nước vào, hóa chất, bụi bẩn, côn trùng vào trong sản phẩm.</li>
        <li>Linh kiện sản phẩm bị hao mòn tự nhiên cần thay thế định kỳ.</li>
        <li>Tự ý tháo nắp sản phẩm, làm rách tem niêm phong, tem bảo hành.</li>
        <li>Thay thế linh kiện không đúng quy cách, sử dụng linh kiện không chính hãng.</li>
    </ul>

    <h5 class="font-weight-bold mt-4">4. Phương thức bảo hành</h5>

    <ul>
        <li>
            <strong>Đối với các sản phẩm được bảo hành tại nhà</strong><br>
            <p class="mb-2">
                Sản phẩm có kích thước trọng lượng lớn như giường tầng, giường hộp, cũi khi sản phẩm có hư hỏng, nút vỡ, cong vênh,... thì khách hàng liên hệ cửa hàng hoặc Hotline miễn phí
                <strong>1800.3979</strong> để thông báo bảo hành sản phẩm.
            </p>
        </li>

        <li>
            <strong>Đối với các sản phẩm không được bảo hành tại nhà</strong><br>
            <p class="mb-2">Khách hàng gửi sản phẩm đến trung tâm bảo hành hoặc chi nhánh Tiệm Sữa 4CE gần nhất.</p>
        </li>

        <li>
            <strong>Bảo hành trực tiếp tại Trung tâm bảo hành của nhà phân phối</strong>
            <p class="mb-2">Khách hàng có thể trực tiếp đi tới trung tâm bảo hành của nhà phân phối để được bảo hành theo yêu cầu.</p>
        </li>
    </ul>

    <h5 class="font-weight-bold">5. Chi Phí Bảo Hành</h5>
    <ul>
        <li>Những sản phẩm đạt điều kiện bảo hành, TIEMSUA4CE hỗ trợ chi phí bao gồm: chi phí thay thế, sửa chữa, chi phí vận chuyển đem sản phẩm đi bảo hành,...</li>
        <li>Các sản phẩm không đủ điều kiện bảo hành hoặc hết hạn bảo hành sẽ được sửa chữa dạng tính phí. TIEMSUA4CE sẽ cung cấp dịch vụ sửa chửa tính phí cho quý khách,  chi phí tùy từng trường hợp lỗi, hỏng hóc của sản phẩm.  Trung tâm bảo hành sẽ liên hệ với khách hàng và báo giá trước khi sửa chữa hoặc khi có yêu cầu báo giá trước của khách hàng</li>
    </ul>

    <h5 class="font-weight-bold">6. Thời gian bảo hành</h5>
    <ul>
        <li>Đối với các sản phẩm được cung cấp tại TIEMSUA4CE được bảo hành theo chế độ bảo hành của nhà sản xuất hoặc nhà phân phối chính thức tương ứng.</li>
        <li>Đối với các sản phẩm nhãn hàng riêng của TIEMSUA4CE (Sản phẩm mang Thương hiệu: KidsPlaza, Mamago, Kiza )</li>
    </ul>

    <div class="alert alert-warning mt-4">
        <strong>Lưu ý:</strong> Thời gian phản hồi và xử lý sản phẩm bảo hành được tính từ ngày nhân viên KidsPlaza  tiếp nhận sản phẩm sẽ phụ thuộc vào tình trạng của từng sản phẩm và chính sách bảo hành của mỗi nhà phân phối .
    </div>
</section>